.idea
.DS_Store
__pycache__
virtualenv
venv

!conf/README.md
conf/
config.py

# Ensure .gitkeep is recognized
assets/
!assets/*/.gitkeep

# Make sure MaxMind DBs aren't commited
*.mmdb

/static/node_modules
