Flask>=1.1
lxml>=4.6
psycopg2>=2.8
flask_sqlalchemy>=2.5
flask-login>=0.5
flask-wtf>=0.14
flask-migrate>=2.7
crc16>=0.1
pillow>=8
pycryptodome>=3.10
python-dotenv
sentry-sdk[flask]>=1.1.0
SQLAlchemy-Searchable>=1.4.1
tzdata; platform_system == 'Windows'
