{% extends "generic/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block type_name %}{% endblock %}

{% block title %}
    Delete {{ self.type_name() | title }}
{% endblock %}

{% block body %}
    <article class="message is-danger">
        <div class="message-header">
            <p>Delete {{ self.type_name() | title }}</p>
        </div>
        <div class="message-body">
            You are about to <strong>delete</strong> the {{ self.type_name() }} with ID {{ item_id }}.
            <br>
            Are you certain you want to continue?
            <br/>
            If so, please enter its ID in the textfield below and submit.
            <br/>

            <br>
            {% wtf.quick_form(form) %}
        </div>
    </article>
{% endblock %}
