{% extends "generic/base.html" %} 

{% block title %} {{ error_code }} | {{ error_title }} - WiiLink Internal {% endblock %} 

{% block content %}

<div class="top-1/2 -translate-y-1/2 max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-8 relative">
    <h1 class="mb-6 text-2xl font-bold text-white">Error {{ error_code }}</h1>
    <div class="relative group mb-10">
        <div class="relative bg-gray-800 rounded-lg shadow-lg overflow-hidden border border-gray-700 p-8">
            <div class="flex items-center mb-6 pb-4 border-b border-gray-700">
                <div class="p-2 bg-red-600/20 rounded-lg text-red-400 mr-3">
                    <img src="/static/icon/trash.svg" alt="Icon" class="w-6 h-6 invert" />
                </div>
                <h2 class="text-xl font-bold text-red-300">{{ error_title }}</h2>
            </div>
            <div class="mb-6">
                <p class="text-gray-300 mb-4">An error occurred while processing your request:</p>
                <div class="bg-gray-900/50 backdrop-blur-sm rounded-lg p-4 border border-gray-700 mb-6">
                    <p class="text-md text-red-300">{{ error_message }}</p>
                    <p class="text-sm font-mono text-gray-300"><br><b>For more information:</b><br>{{ error_details }}</p>
                </div>
                <p class="text-gray-300 mb-4">Please try again later or contact a developer if the issue persists.</p>
                <div class="flex justify-end">
                    <a href="/" class="px-5 py-2 border border-gray-600 rounded-lg shadow-sm text-sm font-medium text-gray-300 bg-gray-700 hover:bg-gray-600 transition-colors duration-200">
                        Back to Home
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}
        