<!-- Required meta tags always come first -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<!-- Core CSS -->
<link rel="stylesheet" type="text/css" href="/static/node_modules/@fortawesome/fontawesome-free/css/all.min.css">
<link rel="stylesheet" type="text/css" href="/static/node_modules/bulma/css/bulma.min.css">
<link rel="stylesheet" type="text/css" href="/static/node_modules/@creativebulma/bulma-divider/dist/bulma-divider.min.css">
<link rel="stylesheet" type="text/css" href="/static/node_modules/bulma-prefers-dark/css/bulma-prefers-dark.min.css">
<link rel="stylesheet" type="text/css" href="/static/node_modules/bulma-ribbon/dist/css/bulma-ribbon.min.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">

<!-- JS -->
<script src="/static/node_modules/@vizuaalog/bulmajs/dist/bulma.js"></script>
