{% macro menu_item(name, redirect_func, icon_name) %}
    <ul class="menu-list">
        <li>
            <a href="{{ url_for(redirect_func) }}" {% if request.url_rule | string == url_for(redirect_func) %} class="is-active"{% endif %}>
                <i class="navigation-list-item fas {{ icon_name }}"></i>{{ name }}
            </a>
        </li>
    </ul>
{% endmacro %}

<aside class="menu">
    {% if current_user.is_authenticated %}
    <p class="menu-label">
        General
    </p>
    {{ menu_item('Dashboard', 'admin', 'fa-home') }}
    <p class="menu-label">
        Management
    </p>
    {{ menu_item('Miis', 'list_miis', 'fa-smile') }}
    {{ menu_item('Concierge', 'list_concierge', 'fa-star') }}
    {{ menu_item('Categories and Movies', 'list_categories', 'fa-video') }}
    {{ menu_item('Pay Categories and Movies', 'list_pay_categories', 'fa-money-bill-alt') }}
    {{ menu_item('Parades', 'list_parade', 'fa-child') }}
    {{ menu_item('Rooms', 'list_room', 'fa-door-closed') }}
    {{ menu_item('News', 'list_news', 'fa-newspaper') }}
    <p class="menu-label">
        Account
    </p>
    {{ menu_item('Change Password', 'change_password', 'fa-key') }}
    <ul class="menu-list">
        <li><a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt" style="margin-right: .75em; width: 1em; height: 1em;"></i>Logout</a></li>
    </ul>
    {% else %}
    <p class="menu-label">
        I wonder if hotels also have room servers
    </p>
    <ul class="menu-list">
        <figure class="image is-2by3">
            <img src="/static/images/loginbo.png">
        </figure>
    </ul>
    {% endif %}
</aside>
