html {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont,
    Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.5;
}

input {
    margin: 5px;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-collapse: collapse;
}

.warning {
    color: red;
}