{% extends "generic/base.html" %}

{% block title %}
{{ action }} Concierge Mii
{% endblock %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.action.label(class_="label") }}
        <div class="control has-icons-left block">
            <div class="select">{{ form.action }}
            </div>
            <div class="icon is-small is-left">
                <i class="fa-solid fa-circle-exclamation"></i>
            </div>
        </div>

        <p>{{ form.prof.label(class_="label") }}</p>
        {{ form.prof(class_="textarea") }}
        <p>{{ form.message1.label(class_="label") }}</p>
        {{ form.message1(class_="textarea") }}
        <p>{{ form.message2.label(class_="label") }}</p>
        {{ form.message2(class_="textarea") }}
        <p>{{ form.message3.label(class_="label") }}</p>
        {{ form.message3(class_="textarea") }}
        <p>{{ form.message4.label(class_="label") }}</p>
        {{ form.message4(class_="textarea") }}
        <p>{{ form.message5.label(class_="label") }}</p>
        {{ form.message5(class_="textarea") }}
        <p>{{ form.message6.label(class_="label") }}</p>
        {{ form.message6(class_="textarea") }}
        <p>{{ form.message7.label(class_="label") }}</p>
        {{ form.message7(class_="textarea") }}
        <p>{{ form.movieid.label(class_="label") }}</p>
        {{ form.movieid(class_="input") }}
        <br>
        <br>
        <p>{{ form.submit(class_="button is-success") }}</p>
    </form>
{% endblock %}
