{% extends "generic/base_manage.html" %}

{% block type_name %}Concierge Miis{% endblock %}
{% block type_name_singular %}Concierge Mii{% endblock %}

{% block table_listing %}
    <table class="table is-fullwidth is-hoverable is-striped">
        <thead>
        <tr>
            <th scope="col">Mii ID</th>
            <th scope="col">Name</th>
            <th scope="col">Avatar</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for mii, mii_data in miis %}
            <tr>
                <td>{{ mii.mii_id }}</td>
                <td>{{ mii_data.name }}</td>
                <td><img width="75"
                         src="https://miicontestp.wii.rc24.xyz/cgi-bin/render.cgi?data={{ mii_data.data.hex() }}"
                         alt="Mii avatar"></td>
                <td style="text-align: center;">
                    <div class="field has-addons">
                        <p class="control">
                            <a href="{{ url_for('edit_concierge', mii_id=mii.mii_id) }}" class="button">
                            <span class="icon is-small">
                                <i class="fas fa-edit"></i>
                            </span>
                                <span>Edit</span>
                            </a>
                        </p>

                        <p class="control">
                            <a href="{{ url_for('remove_concierge', mii_id=mii.mii_id) }}" class="button is-danger">
                            <span class="icon is-small">
                                <i class="fas fa-trash"></i>
                            </span>
                                <span>Delete</span>
                            </a>
                        </p>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block add_footer %}
    <a href="{{ url_for('list_miis') }}">
        <button class="button is-success">
            <span>Add a Concierge Mii</span>
        </button>
    </a>
{% endblock %}

