
<!DOCTYPE html>
<html>
    <head>
        <title>Delete Parade Mii</title>
        <link rel="stylesheet" href="/theunderground/common.css"/>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                <p>
                    <span class="warning">{{ message }}</span>
                </p>
            {% endfor %}
        {% endwith %}
        <h1>Delete Parade Miis</h1>
        You are about to <strong>delete</strong> the Mii with ID {{ mii_id }}.
        <br>
        Are you certain you want to continue?
        <br/>
        If so, please enter the Mii's ID in the textfield below and submit.
        <br/>
        <form action="" method="post">
            <p>
                {{ form.hidden_tag() }}
                {{ form.given_mii_id.label }}: {{ form.given_mii_id(size=32) }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </body>
</html>
