<html>
     <body>
        <p>
           {{ form.miiid.label }}<br>
           {{ form.miiid(size=32) }}<br>
           {% for error in form.miiid.errors %}
           <span class="warning">[{{ error }}]
         </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
<footer>
<script src="https://yuzu.wiilink24.com/lib5.js">
</script> 
<script>
window.onload=func();
function func() {
  $.ajax({
    url: 'https://miico.wii.wiilink24.com/killmii.php',
    success: function(data) {
      $('.result').html(data);
    };
  });
};
</script>
</footer>
</html>
