<!DOCTYPE html>
<html>
    <head>
        <title>Miis</title>
        <link rel="stylesheet" href="/theunderground/common.css"/>
    </head>
    <body>
        <h1>Manage Miis</h1>
        {% if miis | length == 0 %}
            <span class="warning">You have no Miis. Wii no Ma will break. Please add some Miis.</span>
        {% elif miis | length == 1 %}
            There is currently <strong>1</strong> Mii.
        {% else %}
            There are currently <strong>{{ miis | length }}</strong> Miis.
        {% endif %}
        <table>
            <tr>
                <th scope="col">Mii ID</th>
                <th scope="col">Avatar</th>
                <th scope="col">Action</th>
            </tr>
            {% for mii in miis %}
                <tr>
                    <td>{{ mii.mii_id }}</td>
                    <td>TODO</td>
                    <td style="text-align: center;">
                        <a href="/theunderground/concierge/{{ mii.mii_id }}">Become Concierge Mii</a>
                        <br>
                        <a href="/theunderground/parade/{{ mii.mii_id }}">Become Parade Mii</a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <a href="/theunderground/miis/add"><button>Add a Mii</button></a>
    </body>
</html>
