{% extends "generic/base.html" %}

{% block title %}
    Welcome to the Underground
{% endblock %}

{% block content %}
    <form action="" method="post">
        <p>
            {{ form.hidden_tag() }}
            {{ form.username.label(class_="label") }}
            {{ form.username(size=32, class_="input") }}
            <br>
            <br>
            {{ form.password.label(class_="label") }}
            {{ form.password(size=32, class_="input") }}
        </p>
        <br>
        <p>{{ form.submit(class_="button is-link") }}</p>
    </form>
{% endblock %}
