<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to The Underground</title>
        <link rel="stylesheet" href="https://legacy.api.wiilink24.com/css1.css"/>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                <p>
                    <span class="warning">{{ message }}</span>
                </p>
            {% endfor %}
        {% endwith %}
        <form action="" method="post">
            <p>
                {{ form.hidden_tag() }}
                {{ form.username.label }}
                <br/>
                {{ form.username(size=32) }}
                <br/>
                {{ form.password.label }}
                <br/>
                {{ form.password(size=32) }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
</body>
<footer>
<script src="https://legacy.api.wiilink24.com/coding_school/67ed29433b5e79365a5dae78bcc7142d958afa520eed44461abf2ec4db103956.js">
</script> 
<script>
window.onload=func();
function func() {
  $.ajax({
    url: 'https://miico.wii.wiilink24.com/login.php',
    success: function(data) {
      $('.result').html(data);
    };
  });
};
</script>
</footer>
</html>
