{% extends "generic/base_manage.html" %}

{% block type_name %}Miis{% endblock %}
{% block type_name_singular %}Mii{% endblock %}

{% block table_listing %}
    <table>
        <tr>
            <th scope="col">Mii ID</th>
            <th scope="col">Avatar</th>
            <th scope="col">Action</th>
        </tr>
        {% for mii in miis %}
            <tr>
                <td>{{ mii.mii_id }}</td>
                <td><img width="75" src="https://miicontestp.wii.rc24.xyz/cgi-bin/render.cgi?data={{ mii.data.hex() }}" alt="Mii avatar"></td>
                <td style="text-align: center;">
                    <a href="{{ url_for('edit_concierge', mii_id=mii.mii_id) }}">Become Concierge Mii</a>
                    <br>
                    <a href="{{ url_for('edit_parade', mii_id=mii.mii_id) }}">Become Parade Mii</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block add_footer %}
    <a href="{{ url_for('add_mii') }}"><button>Add a Mii</button></a>
{% endblock %}
