{% extends "generic/base.html" %}

{% block title %}
    Upload a Movie
{% endblock %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        <p>
            {{ form.hidden_tag() }}
            {{ form.movie.label }}: {{ form.movie(size=32) }}
            <br>
            {{ form.title.label }}: {{ form.title }}
            <br>
            {{ form.thumbnail.label }}: {{ form.thumbnail(size=32) }}
            <br>
            {{ form.category.label }}: {{ form.category }}
        </p>
        <p>{{ form.upload() }}</p>
    </form>
{% endblock %}
