{% extends "generic/base_manage.html" %}

{% block type_name %}news{% endblock %}
{% block type_name_singular %}news{% endblock %}

{% block table_listing %}
    <table>
        <tr>
            <th scope="col">Message</th>
            <th scope="col">Action</th>
        </tr>
        {% for news_item in news %}
            <tr>
                <td>{{ news_item.msg }}</td>
                <td style="text-align: center;">
                    <a href="{{ url_for('edit_news', news_id=news_item.id) }}">Edit</a>
                    <br/>
                    <a href="{{ url_for('remove_news', news_id=news_item.id) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block add_footer %}
    <a href="{{ url_for('add_news') }}"><button>Add a piece of news</button></a>
{% endblock %}
