{% extends "generic/base.html" %}

{% block title %}
    Edit Parade
{% endblock %}

{% block content %}
    <article class="message is-info">
        <div class="message-header">
            <p>Information</p>
        </div>
        <div class="message-body">
             This parade currently has the following banner:
            <br>
            <br>
            <img
                src="{{ url_for('get_parade_banner', room_id=room.room_id) }}"
                alt="Thumbnail for category ID {{ room.room_id }}"
                width="50%"
            />
            <br>
        </div>
    </article>

    <form action="" method="post" enctype="multipart/form-data">
        <p>
            {{ form.hidden_tag() }}
            {{ form.room_id.label(class_="label") }}
            {{ form.room_id(class="input") }}
        </p>
        <br>
        <p>
            {{ form.hidden_tag() }}
            {{ form.mii_msg.label(class_="label") }}
            {{ form.mii_msg(class="input") }}
        </p>
        <br>
        <p>
            {{ form.image.label(class_="label") }}
            {{ form.image }}
        </p>
        <br>
        {{ form.submit(class_="button is-success") }}
    </form>
{% endblock %}
