{% extends "generic/base.html" %}

{% block title %}
    Edit Parade
{% endblock %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        <p>
            {{ form.news.label(class_="label") }}
            {{ form.news(class="input") }}
        </p>
        <br>
        <p>
            {{ form.company.label(class_="label") }}
            {{ form.company(class="input") }}
        </p>
        <br>
        <p>
            {{ form.image.label(class_="label") }}
            {{ form.image }}
        </p>
        <br>
        {{ form.submit(class_="button is-success") }}
    </form>
{% endblock %}
