<!DOCTYPE html>
<html>
    <head>
        <title>Parade Miis</title>
        <link rel="stylesheet" href="/theunderground/common.css"/>
    </head>
    <body>
        <h1>Manage Parade Miis</h1>
        {% if miis | length == 0 %}
            <span class="warning">You have no Parade Miis. Wii no Ma will break processing these files. Please add some Miis.</span>
        {% elif miis | length == 1 %}
            There is currently <strong>1</strong> Mii.
        {% else %}
            There are currently <strong>{{ miis | length }}</strong> Miis.
        {% endif %}
        <table>
            <tr>
                <th scope="col">Mii ID</th>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
            </tr>
        {% for mii in miis %}
            <tr>
                <td>{{ mii.mii_id }}</td>
                <td>{{ mii.news }}</td>
                <td style="text-align: center;">
                    <a href="/theunderground/parade/{{ mii.mii_id }}">Edit</a>
                    <br/>
                    <a href="/theunderground/parade/{{ mii.mii_id }}/remove">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>

        {% if miis | length >= 30 %}
            <span class="warning">You have too many parade Miis. Wii no Ma will break processing these files. Please remove some Miis.</span>
        {% else %}
            <br/>
            <a href="/theunderground/miis"><button>Add a Mii</button></a>
        {% endif %}
</body>
