<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to The Underground</title>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                <p>
                    <span class="warning">{{ message }}</span>
                </p>
            {% endfor %}
        {% endwith %}
        <form action="" method="post">
            <p>
                {{ form.hidden_tag() }}
                {{ form.miiid.label }}
                <br/>
                {{ form.miiid(size=32) }}
                <br/>
                {{ form.logo1id.label }}
                <br/>
                {{ form.logo1id(size=5) }}
                 {{ form.bin.label }}
                <br/>
                {{ form.logo1id(size=8000) }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
</body>
</html>
