{% extends "generic/base.html" %}

{% block title %}
    Edit Room
{% endblock %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.bgm.label }}: {{ form.bgm }}
        <br>
        {{ form.has_mascot.label }}: {{ form.has_mascot }}
        <br>
        {{ form.has_contact.label }}: {{ form.has_contact }}
        <br>
        {{ form.intro_msg.label }}: {{ form.intro_msg }}
        <br>
        {{ form.mii_msg.label }}: {{ form.mii_msg }}
        <br>
        {{ form.room_logo.label }}: {{ form.room_logo }}
        <br>
        {{ form.submit() }}
    </form>
{% endblock %}