{% extends "generic/base_manage.html" %}

{% block type_name %}rooms{% endblock %}
{% block type_name_singular %}room{% endblock %}

{% block table_listing %}
    <table>
        <tr>
            <th scope="col">Room ID</th>
            <th scope="col">Banner</th>
            <th scope="col">Action</th>
        </tr>
        {% for room in rooms %}
            <tr>
                <td>{{ room.room_id }}</td>
                <td><img alt="Banner for {{ room.room_id }}" src="{{ url_for('get_room_logo', room_id=room.room_id) }}"/></td>
                <td style="text-align: center;">
                    <a href="{{ url_for('edit_room', room_id=room.room_id) }}">Edit</a>
                    <br/>
                    <a href="{{ url_for('remove_room', room_id=room.room_id) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block add_footer %}
    <a href="{{ url_for('list_miis') }}"><button>Add a Mii</button></a>
{% endblock %}