{% extends "generic/base.html" %}

{% block title %}
    Edit Room
{% endblock %}

{% block content %}
        <article class="message is-info">
        <div class="message-header">
            <p>Information</p>
        </div>
        <div class="message-body">
             This room currently has the following banner:
            <br>
            <br>
            <img
                src="{{ url_for('get_room_logo', room_id=room_id) }}"
                alt="Thumbnail for category ID {{ room_id }}"
                width="50%"
            />
            <br>
            <br>
            The parade for this room has the following banner:
            <br>
            <br>
            <img
                src="{{ url_for('get_parade_banner', room_id=room_id) }}"
                alt="Thumbnail for category ID {{ room_id }}"
                width="50%"
            />
        </div>
    </article>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.bgm.label(class_="label") }}
        <div class="control has-icons-left">
            <div class="select">{{ form.bgm }}
            </div>
            <div class="icon is-small is-left">
                <i class="fas fa-music"></i>
            </div>
        </div>
        <br>
        {{ form.has_mascot.label }}: {{ form.has_mascot }}
        <br>
        {{ form.has_contact.label }}: {{ form.has_contact }}
        <br>
        <br>
        {{ form.mii.label(class_="label") }} {{ form.mii(class_="input") }}
        <br>
        <br>
        {{ form.mii_msg.label(class_="label") }} {{ form.mii_msg(class="input") }}
        <br>
        <br>
        {{ form.intro_msg.label(class_="label") }} {{ form.intro_msg(class_="input") }}
        <br>
        <br>
        {{ form.news.label(class_="label") }} {{ form.news(class_="input") }}
        <br>
        <br>
        {{ form.contact.label(class_="label") }} {{ form.contact(class_="input") }}
        <br>
        <br>
        {{ form.room_logo.label(class_="label") }} {{ form.room_logo }}
        <br>
        <br>
        <p>
            {{ form.parade_banner.label(class_="label") }}
            {{ form.parade_banner }}
        </p>
        <br>
        <br>
        {{ form.submit(class_="button is-success") }}
    </form>
{% endblock %}
