{% extends "generic/base.html" %}

{% block title %}
    Choose Room Content Type
{% endblock %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        <div class="control has-icons-left">
            {{ form.hidden_tag() }}
            <div class="select">{{ form.type }}
            </div>
            <div class="icon is-small is-left">
                <i class="fas fa-music"></i>
            </div>
        </div>
        <br>

        <p>{{ form.next(class_="button is-success") }}</p>
    </form>
{% endblock %}
