{% extends "generic/base.html" %}

{% block title %}
    Add Link Content
{% endblock %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        <p>
            {{ form.hidden_tag() }}
            <div class="control has-icons-left">
                <div class="select">{{ form.bgm }}
                </div>
                <div class="icon is-small is-left">
                    <i class="fas fa-music"></i>
                </div>
            </div>
            <br>
            {{ form.is_internet_channel.label }}: {{ form.is_internet_channel(class_="block") }}
            <br>
            {{ form.movie.label(class_="label") }} {{ form.movie(size=32) }}
            <br>
            <br>
            {{ form.title.label(class_="label") }} {{ form.title(class_="textarea") }}
            <br>
        <br>
            {{ form.link.label(class_="label") }} {{ form.link(class_="input") }}
            <br>
            <br>
            {{ form.tv.label(class_="label") }} {{ form.tv(size=32) }}
            <br>
            <br>
            {{ form.image1.label(class_="label") }} {{ form.image1(size=32) }}
            <br>
        <br>
            {{ form.image2.label(class_="label") }} {{ form.image2(size=32) }}
            <br>
            <br>
        <p>{{ form.upload(class_="button is-success") }}</p>
    </form>
{% endblock %}
