{% extends "generic/base.html" %}

{% block title %}
    Add Room
{% endblock %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.bgm.label(class_="label") }}
        <div class="control has-icons-left">
            <div class="select">{{ form.bgm }}
            </div>
            <div class="icon is-small is-left">
                <i class="fas fa-music"></i>
            </div>
        </div>
        <br>
        {{ form.has_mascot.label }}: {{ form.has_mascot }}
        <br>
        {{ form.has_contact.label }}: {{ form.has_contact }}
        <br>
        <br>
        {{ form.intro_msg.label(class_="label") }} {{ form.intro_msg(class_="input") }}
        <br>
        <br>
        {{ form.mii_msg.label(class_="label") }} {{ form.mii_msg(class_="input") }}
        <br>
        <br>
        {{ form.contact.label(class_="label") }} {{ form.contact(class_="input") }}
        <br>
        <br>
        {{ form.room_logo.label(class_="label") }} {{ form.room_logo }}
        <br>
        <br>
        {{ form.submit(class_="button is-success") }}
    </form>
{% endblock %}
