<html>
<body>
<h1>STOP!!</h1>
<p>Unless you know what you are doing, you could potentially damage files on the server.</p>
<p>We will now create a <strong>backup</strong> before you can go to the admin console.</p>
<button><a href={{ url_for('/theunderground/backup/toadmin') }}>Click to back mii up!</a></button>
<button><a href={{ url_for('/theunderground/backup/justbecause') }}>Click to back mii up without going to the admin console (admin is always sus ;) )</a></button>
<!-- Wait no, that's electrical. --!>
<p style='font-size: 1'>if you think you know what you are doing, you can go directly to the console</p>
<p style='font-size: 1'>but you shouldn't</p>
</body>
</html>
