<!DOCTYPE html>
<html>
    <head>
        <title>The Underground</title>
        <link rel="stylesheet" href="/theunderground/common.css"/>
    </head>
    <body>
        <h1>Welcome, {{ current_user.username }}!</h1>
        Click on an operation below to get started:
        <br/>
        <a href="/theunderground/miis"><button>Manage Miis</button></a>
        <br/>
        <a href="/theunderground/concierge"><button>Manage Concierge Miis</button></a>
        <br/>
        <a href="/theunderground/movies"><button>Manage Movies</button></a>
        <br/>
        <a href="/theunderground/parade"><button>Manage Parade</button></a>
        <br/>
        <br/>
        <a href="/theunderground/logout"><button>Logout</button></a>
</body>
</html>
