{% extends "generic/base.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    <h1 class="title">Welcome, {{ current_user.username }}.</h1>
    <h2 class="subtitle">Click on an operation below to get started:</h2>
    <p class="buttons" style="display: block">
        <a href="{{ url_for('list_intro_info') }}">
            <button class="button is-link">Manage Intro Info</button>
        </a>
        <br/>
        <a href="{{ url_for('list_miis') }}">
            <button class="button is-link">Manage Miis</button>
        </a>
        <a href="{{ url_for('list_concierge') }}">
            <button class="button is-link">Manage Concierge Miis</button>
        </a>
        <br/>
        <a href="{{ url_for('list_categories') }}">
            <button class="button is-link">Manage Categories and Movies</button>
        </a>
        <br/>
        <a href="{{ url_for('list_pay_categories') }}">
            <button class="button is-link">Manage Pay Categories and Movies</button>
        </a>
        <br/>
        <a href="{{ url_for('list_room') }}">
            <button class="button is-link">Manage Rooms</button>
        </a>
        <br/>
        <a href="{{ url_for('list_posters') }}">
            <button class="button is-link">Manage Posters</button>
        </a>
        <a href="{{ url_for('list_pay_posters') }}">
            <button class="button is-link">Manage Pay Posters</button>
        </a>
        <br/>
        <a href="{{ url_for('list_news') }}">
            <button class="button is-link">Manage News</button>
        </a>
        <br/>
        <br/>
        <a href="{{ url_for('new_user') }}">
            <button class="button is-link">Add User</button>
        </a>
        <a href="{{ url_for('change_password') }}">
            <button class="button is-link">Change Password</button>
        </a>
        <br/>
        <br/>
        <a href="{{ url_for('logout') }}">
            <button class="button is-danger">Logout</button>
        </a>
    </p>
{% endblock %}
